.App {
  font-family: sans-serif;
  text-align: center;
}

:root {
  --dark-gray: #1f2937;
  --gray: #9ca3af;
  --background: #f3f4f6;
}

body {
  width: 600px;
  margin: auto;
  background-color: var(--background);
}

#root {
  display: flex;
  flex-flow: column wrap;
  margin-left: 4rem;
}

header > h1,
header > p {
  text-align: left;
}

.genre-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.genre-item button {
  font-size: 1rem;
  padding: 0.3rem;
  margin: 0.5rem;
  color: var(--dark-gray);
  border-radius: 0.5rem;
}

.list-container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
}

.list-item {
  color: black;
  flex: 1;
  width: 300px;
  text-align: left;
  border: 1px var(--gray) solid;
  border-radius: 0.5rem;
  padding: 0.3rem 1rem;
  margin: 1rem;
}
